#wb-bc .container, #wb-info > .container > :before, body > header + .container, body > main {
    background-color: #FFF;
    /*border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;*/
}

#wb-bc {
    margin-left: -15px;
}

